.character {
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: lightgray;
    height: 36rem;
    width: 35rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-profile {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.asset {
    height: 30rem;
    width: 20rem;
    background-size: cover;
    border: 2px solid silver;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}