.software-main {
    width: 100%;
    /* height: 100vh; */
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: lightgray;
}

.software-intro {
    width: 100%;
    height: 22rem;
    background-image: url("../../assets/software/mountains.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
}

.about-me {
    width: 100%;
    /* height: 40%; */
    background-color: gray;
    opacity: 75%;
    display: flex;
    align-items: center;
}

.software-body {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.project-descriptions {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#card {
    box-sizing: border-box;
    height: 15rem;
    width: 25rem;
    border: 2px solid black;
    box-shadow: 2px 2px 4px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}