.App {
  font-family: "Fira Code", monospace;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  width: 100%;
  background: linear-gradient(to top, #292c37, #ff8c42);
}

.hero header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto 5rem;
  padding: 2rem 0 0;
  top: 0;
  left: 5vw;
  opacity: 0;
}

.hero header {
  animation: fadeIn 0.5s ease-in-out 1.5s forwards;
}

.logo {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.logo img[alt="logo"] {
  max-width: 100%;
  height: auto;
}

.hero header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.6;
  position: static;
  width: 100vw;
  padding: 0rem;
}

.hero header nav ul {
  list-style: none;
  cursor: pointer;
  color: white;
}

ul:last-of-type li a {
  text-decoration: none;
  color: white;
  border: 2px solid black;
  padding: 1rem 1.5rem;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 0.3rem;
}

ul:last-of-type li a:hover {
  background-color: #292c37;
  color: white;
}

.hero-inner {
  max-width: fit-content;
  margin: auto;
  color: white;
}

.hero-inner .hero-subheading {
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: -0.9px;
  margin: 0 0 1rem;
  transform-origin: 0%;
  animation: fadeInUp 0.5s ease-in-out;
}

.hero-inner .hero-heading {
  max-width: 90vw;
  margin: 0 auto 2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeInUp 0.75s ease-in-out;
}

.hero-inner .hero-intro {
  text-align: center;
  animation: fadeInUp 1s ease-in-out;
}

.hero-inner .hero-links {
  max-width: fit-content;
  margin: auto;
  position: relative;
}

.hero-links button,
.hero-links a {
  font-family: "Fira Code", monospace;
  display: inline-block;
  border: 2px solid #292c37;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  height: 3rem;
  line-height: 3rem;
  animation: fadeInUp 1.5s ease-in-out;
}

.hero-links button {
  background-color: white;
  color: black;
  box-shadow: 3px 3px #292c37;
  margin: 2rem 2rem 0 0;
  cursor: pointer;
  padding: 0 1.5rem;
}

.hero-links a {
  background-color: transparent;
  box-shadow: none;
  margin: 0 2rem 1rem 0;
  padding: 0 1.5rem;
}

.hero-links button:hover {
  background-color: #292c37;
  color: white;
  box-shadow: none;
}

.technology {
  background-color: lightgray;
  padding: 4rem 0;
}

.projects {
}

.about-me {
}

.contact-me {
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 800px) {
  .hero {
    min-height: 30rem;
  }
}
